{% extends 'core/base.html' %}
{% block titulo %}
    Productos: Lista de Categoría de Productos
{% endblock titulo %}

{% block contenido %}

    <div class="py-lg-4 ">
        <form action="{% url 'producto:productocategoria_list' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar...">
        </form>
    </div>
    <ul>
        {% comment  %}
        {% for producto in productos %}
        {% endcomment %}

        {% for producto in object_list %}
            <li>{{ producto.nombre }}
                <a href="{% url 'producto:productocategoria_detail' producto.id %}">Detalle</a>
                <a href="{% url 'producto:productocategoria_update' producto.id %}">Cambiar</a>
                <a href="{% url 'producto:productocategoria_delete' producto.id %}">Borrar</a>
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'producto:home' %}">Volver al inicio de Producto</a>
    </div>

{% endblock contenido %}
