{% extends 'core/base.html' %}

{% block titulo %}
    Producto: 
    {% if form.instance.pk %}
        Editar
    {% else %}
        Crear
    {% endif %}
    Categoría de Productos
{% endblock titulo %}

{% block contenido %}
    
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <div class="fs-3 pb-4">
        <a href="{% url 'producto:home' %}">Volver al inicio de Producto</a>
    </div>

{% endblock contenido %}